.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* If you hide this you can see what the radio buttons look like when you click a star*/
input[type="radio"] {
  display: none;
}

.star{
  cursor: pointer;
  transition: color 200ms;
}